{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}

{% block extra_head_title %}
	{% trans 'Home' %}
{% endblock extra_head_title %}

{% if user.is_authenticated %}
	{% block extra_body %}
		onload="setUpDatePicker();"
	{% endblock extra_body %}
{% endif %} 
{% block content %}

{% if user.is_authenticated %}
	<div>
		<h3>{% trans 'courses_recent_activity' %}</h3>
		{% include "oppia/includes/activity-graph.html" %}	
	</div>
	{% include "includes/messages.html" %}	
	{% crispy form %}
	
	<h3>{% trans 'home_leaderboard' %}</h3>
	{% include "oppia/includes/leaderboard.html" %}
	<div><a href="{% url 'oppia_leaderboard' %}">{% trans "more..." %}</a></div>
{% else %}
	{% blocktrans %} 
	<div style="margin:20px; text-align:center; ">
		<img src="{{ STATIC_URL }}oppia/ischool/ischool.png"/>
	</div>
	{% endblocktrans %}

{% endif %} 

{% endblock %}
