{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Home' %}
{% endblock extra_head_title %}

{% if user.is_authenticated %}
	{% block extra_body %}
		onload="setUpDatePicker();"
	{% endblock extra_body %}
{% endif %} 
{% block content %}

{% if user.is_authenticated %}
	<div>
		<h3>{% trans 'courses_recent_activity' %}</h3>
		{% include "oppia/includes/activity-graph.html" %}	
	</div>
	{% include "includes/messages.html" %}	
	{% crispy form %}
	
	<h3>{% trans 'home_leaderboard' %}</h3>
	{% include "oppia/includes/leaderboard.html" %}
	<div><a href="{% url 'oppia_leaderboard' %}">{% trans "more..." %}</a></div>
{% else %}
    {% static "oppia/logo/moh.png" as mohlogo %}
    {% static "oppia/logo/pepfar.jpg" as pepfarlogo %}
    {% static "oppia/logo/cdc.png" as cdclogo %}
    {% static "oppia/logo/jhpiego.png" as jhpiegologo %}
    {% static "oppia/logo/ischool.png" as ischoollogo %}
	{% blocktrans %} 
	<div style="margin:20px; text-align:center; ">
		<img src="{{ mohlogo }}"/>
		<h2>Welcome to MoH eHealth Training</h2>
	</div>
	
	<div style="margin:50px 20px 20px 20px; text-align:center; ">
		<h3>Partners</h3>
		<img src="{{ pepfarlogo }}" height="70px" style="margin:20px;"/>
		<img src="{{ cdclogo }}" height="70px" style="margin:20px;"/>
		<img src="{{ jhpiegologo }}" height="70px" style="margin:20px;"/>
		<img src="{{ ischoollogo }}" height="70px" style="margin:20px;"/>
	</div>
	
	{% endblocktrans %}

{% endif %} 

{% endblock %}
